 
    body{ width: 90%;
     background-color: rgb(235, 181, 32);
     margin: 0 auto;
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-size: cover;
 }

 @media screen and(max-width:1450) {
 .couleur{ width: 80%;
   color: rgb(11, 10, 10);
 }
 }

 @media screen {
 /*menu de navigation*/
 .iris{ width: 90%;
     display: flex;
     justify-content: space-around;
     background-color: rgb(188, 162, 75);
     padding: 10px;
     list-style: none;
 }
 }
 @media screen {
 .nav li{ width: 80%;
     color: rgb(241, 239, 239);
 }
 }

 @media screen {
 .top-page{ width: 90%;
     background-color: gray;
     margin-left: 0%;
 }
 }
 @media screen {
 .histoire { width: 90%;
     display: flex;
     justify-content: center;
     flex-direction: column;
 }
 }
 @media screen {
 .titre{ width: 90%;
     color: rgb(5, 5, 5);
     justify-content: flex-end;
     margin-inline-start: 0px;
     margin-inline-end: 0px;
     text-align: center;
 }
 }

 @media screen {
 .titre2{ width: 90%;
     color: black;
     justify-content: center;
 }
 }
 @media only screen and (min-width: 650px) and (max-height: 895px){
     .charpic1 {
         width: 80%;
     }
 }
 
 @media only screen and (min-width: 650px) and (max-height: 895px){
     .section{
         width: 70%;
     }
 }
 @media screen {
     .contenu{ width: 70%;
         display: flex;
         flex-direction:column;
         align-items: center;
     }
}


@media screen {
 .vidéo{ width: 70%;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    justify-content: end;
 }
}

@media screen {
 .class1{ width: 70%;
     display: flex;
     justify-content: flex-end;
     align-items: center;
     flex-wrap: wrap;
 }
 }

@media screen {
 .barre_de_recherche{ width: 70%;
     display: flex;
     align-items: flex-start;
     flex-direction: column;
     justify-content: end;
 }
 }